@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* .noto-sans-<uniquifier> {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .libertinus-mono-regular {
  font-family: "Libertinus Mono", monospace;
  font-weight: 400;
  font-style: normal;
} */


:root {
    --header-section-height             : 10.5em;

    --header-font-magnification         : 1.5;

    --header-section-padding-top        : 0.5em;
    --header-section-padding-left       : 0.5em;

    --header-image-size-height          : 2.8em;
    --header-image-size-width           : 6.23em;

    --header-image-margin-left          : 0em;
    --header-image-margin-top           : 1.2em;

    --header-line-nanaru-margin-top     : 0.2em;
    --header-line-nanaru-margin-left    : 0em;

    --header-line-dak-margin-top        : 2.1em;
    --header-line-dak-margin-left       : 5.37em;

    --header-line-ova-margin-top        : 3.95em;
    --header-line-ova-margin-left       : 0em;


    --header-image-border-radius        : 0.2em;


    --drumroll-preview-padding          : 0.4em;
    --drumroll-frame-border-width       : 0.14em;
    --drumroll-frame-corner-size        : 2em;

}

body {
    background-color            : beige;
}

p, li {
    font-family                         : "Noto Sans", sans-serif;
    font-optical-sizing                 : auto;
    font-weight                         : 350;
    font-style                          : normal;
    font-variation-settings             : "width" 100;
}

h1, h2, h3 {
    font-family                         : "Libertinus Mono", monospace;
    font-weight                         : 400;
    font-style                          : normal;
}


.main-divider{

    margin                  : 0 auto;
    width                   : 50em;
    height                  : 100vh;

    display                 : grid;
    grid-template-columns   : 4.5fr 2.1fr;

    border                  : dotted;
    border-width            : 0.01em;
    border-color            : black;

    box-sizing              : border-box;

}


.center-view {
    /* border                  : dotted; */
    border                  : none;
    border-width            : 0.01em;
    box-sizing              : border-box;
}







.header-section {
    font-size               : calc(var(--header-font-magnification) * 1em);
    height                  : var(--header-section-height);
}

.header-section.image {

    position                : absolute;

    height                  : var(--header-image-size-height);
    width                   : var(--header-image-size-width);

    margin-top              : calc(var(--header-section-padding-top) + var(--header-image-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-image-margin-left));

    background-color        : rgba(0, 0, 0, 0.2);

    border-radius           : calc(var(--header-image-border-radius) / var(--header-font-magnification));

}

.header-section.line {

    position                : absolute;

    height                  : auto;

    display                 : block;
    color                   : black;

    border                  : none;

}

.header-section.line.nana-ru {
    margin-top              : calc(var(--header-section-padding-top) + var(--header-line-nanaru-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-line-nanaru-margin-left));
}

.header-section.line.dak {
    margin-top              : calc(var(--header-section-padding-top) + var(--header-line-dak-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-line-dak-margin-left));
    rotate                  : 90deg;
}

.header-section.line.ova {
    margin-top              : calc(var(--header-section-padding-top) + var(--header-line-ova-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-line-ova-margin-left));
    rotate                  : 180deg;
}



.project-view {
    padding-left            : calc(var(--header-section-padding-left) * var(--header-font-magnification) + 0.2em);
    padding-right           : 2em;
}

.project-view.image {
    height                  : 10em;


    background-color        : rgba(0, 0, 0, 0.2);
    border-radius           : calc(var(--header-image-border-radius) * var(--header-font-magnification));

}

.project-view h2 {
    font-size: 2em;

    margin-top              : 0.05em;
    margin-bottom           : 0.3em;
}

.project-view p {
    color                   : #454545;
}

.drumroll{

    
    border                  : none;
    border-width            : 0.01em;
    box-sizing              : border-box;
    
    overflow-y              : scroll;
    padding-top             : 0.5em;
}

.drumroll.item-preview {
    display                 : block;
    min-height              : 6em;
    border                  : none;
    border-width            : 0.01em;
    box-sizing              : border-box;

    padding-top             : 0em;
    overflow-y              : visible;
}

.drumroll.item-preview.frame {
    display                 : grid;
    grid-template-columns   : var(--drumroll-frame-corner-size) auto var(--drumroll-frame-corner-size);
    grid-template-rows      : var(--drumroll-frame-corner-size) auto var(--drumroll-frame-corner-size);

    margin-top              : 0.5em;
    margin-right            : 0.4em;
}

.drumroll.frame-spacer.center {
    min-height              : 1em;
    min-width               : 1em;
}

.drumroll.item-preview.image {
    /* margin                  : 0 auto; */
    margin-top              : calc(var(--drumroll-preview-padding) - 6.5em);
    margin-left             : var(--drumroll-preview-padding);
    margin-right            : calc(var(--drumroll-preview-padding) + 0.4em);
    min-height: 5em;

    border-radius           : calc(var(--header-image-border-radius) * var(--header-font-magnification));

    background-color        : rgba(0, 0, 0, 0.5);

    border                  : none;
}

.drumroll.frame-corner {
    border                  : solid;
    border-width            : var(--drumroll-frame-border-width);
}

.drumroll.frame-corner.top-left {
    border-bottom           : none;
    border-right            : none;
}

.drumroll.frame-corner.top-right {
    border-bottom           : none;
    border-left             : none;

    border                  : none;
}

.drumroll.frame-corner.bottom-left {
    border-top              : none;
    border-right            : none;

    border                  : none;
}

.drumroll.frame-corner.bottom-right {
    border-top              : none;
    border-left             : none;
}

.drumroll.slash-line {
    height                      : 0em;
    width                       : calc(100% - var(--drumroll-preview-padding));
    border-top                  : solid var(--drumroll-frame-border-width);

    box-sizing                  : content-box;

    border-width                : calc(var(--drumroll-frame-border-width));
}

.drumroll.drumroll.slash-line.left {
    transform-origin            : 0% 0%;
    transform                   : translateY(-6em) scaleX(calc(1 / cos(22deg))) rotate(22deg);
}

.drumroll.drumroll.slash-line.right {
    transform-origin            : 100% 0%;
    transform                   : translateY(calc(-6em - 1.7 * var(--drumroll-preview-padding))) scaleX(calc(1 / cos(22deg))) rotate(-22deg);
}

