:root {
    --header-section-height             : 8.5em;

    --header-font-magnification         : 1.3;


    --header-section-padding-top        : 0.5em;
    --header-section-padding-left       : 0.5em;

    --header-image-size-height          : 2.5em;
    --header-image-size-width           : 5.9em;

    --header-image-margin-left          : 0em;
    --header-image-margin-top           : 1.32em;

    --header-line-nanaru-margin-top     : 0.2em;
    --header-line-nanaru-margin-left    : 2.3em;

    --header-line-dak-margin-top        : 2em;
    --header-line-dak-margin-left       : 5.45em;

    --header-line-ova-margin-top        : 3.9em;
    --header-line-ova-margin-left       : 4.9em;


    --header-image-border-radius        : 0.4em;

}

body {
    background-color            : beige;
}

.main-divider{

    margin                  : 0 auto;
    width                   : 50em;
    height                  : 100vh;

    display                 : grid;
    grid-template-columns   : 4.5fr 2.1fr;

    border                  : dotted;
    border-width            : 0.01em;
    border-color            : black;

    box-sizing              : border-box;

}


.center-view {
    border                  : dotted;
    border-width            : 0.01em;
    box-sizing              : border-box;
}


.drumroll{

    overflow-y              : scroll;

    border                  : dotted;
    border-width            : 0.01em;
    box-sizing              : border-box;
}

.drumroll.item-preview {
    display                 : block;
    min-height              : 4em;
    border                  : dotted;
    border-width            : 0.01em;
    box-sizing              : border-box;
}

.header-section {
    font-size               : calc(var(--header-font-magnification) * 1em);
    height                  : var(--header-section-height);
}

.header-section.image {

    position                : absolute;

    height                  : var(--header-image-size-height);
    width                   : var(--header-image-size-width);

    margin-top              : calc(var(--header-section-padding-top) + var(--header-image-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-image-margin-left));

    background-color        : rgba(0, 0, 0, 0.2);

    border-radius           : var(--header-image-border-radius);

}

.header-section.line {

    position                : absolute;

    height                  : auto;

    display                 : block;
    color                   : black;

    border                  : none;

}

.header-section.line.nana-ru {
    margin-top              : calc(var(--header-section-padding-top) + var(--header-line-nanaru-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-line-nanaru-margin-left));
}

.header-section.line.dak {
    margin-top              : calc(var(--header-section-padding-top) + var(--header-line-dak-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-line-dak-margin-left));
    rotate                  : 90deg;
}

.header-section.line.ova {
    margin-top              : calc(var(--header-section-padding-top) + var(--header-line-ova-margin-top));
    margin-left             : calc(var(--header-section-padding-left) + var(--header-line-ova-margin-left));
    rotate                  : 180deg;
}



.project-view {
    padding-left            : calc(var(--header-section-padding-left) * var(--header-font-magnification) + 0.2em);
    padding-right           : 2em;
}

.project-view.image {
    height                  : 10em;


    background-color        : rgba(0, 0, 0, 0.2);
    border-radius           : calc(var(--header-image-border-radius) * var(--header-font-magnification));

}

.project-view h2 {
    font-size: 2em;

    margin-top              : 0.4em;
    margin-bottom           : 0.1em;
}

.project-view p {
    color                   : grey;
}

