.mosaic-picture {
  position              : absolute;
  background-color      : #aaa;

  border-radius         : 0.3em;
}

.mosaic-picture p {
  margin-left     : 1em;
  margin-top      : 1em;
  font-size       : 0.5em;
  color           : white;
}




.mosaic-picture.number-00- {
  visibility          : var(--pic-00-featured-in-land);
  background-image    : url(var(--pic-00-image));
  width               : calc(var(--pic-00-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-00-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-00-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-00-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-01- {
  visibility          : var(--pic-01-featured-in-land);
  background-image    : url(var(--pic-01-image));
  width               : calc(var(--pic-01-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-01-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-01-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-01-position-y-land) * 100vw / var(--cell-density-land));
}



.mosaic-picture.number-02- {
  visibility          : var(--pic-02-featured-in-land);
  background-image    : url(var(--pic-02-image));
  width               : calc(var(--pic-02-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-02-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-02-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-02-position-y-land) * 100vw / var(--cell-density-land));
}



.mosaic-picture.number-03- {
  visibility          : var(--pic-03-featured-in-land);
  background-image    : url(var(--pic-03-image));
  width               : calc(var(--pic-03-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-03-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-03-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-03-position-y-land) * 100vw / var(--cell-density-land));
}



.mosaic-picture.number-04- {
  visibility          : var(--pic-04-featured-in-land);
  background-image    : url(var(--pic-04-image));
  width               : calc(var(--pic-04-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-04-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-04-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-04-position-y-land) * 100vw / var(--cell-density-land));
}



.mosaic-picture.number-05- {
  visibility          : var(--pic-05-featured-in-land);
  background-image    : url(var(--pic-05-image));
  width               : calc(var(--pic-05-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-05-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-05-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-05-position-y-land) * 100vw / var(--cell-density-land));
}



.mosaic-picture.number-06- {
  visibility          : var(--pic-06-featured-in-land);
  background-image    : url(var(--pic-06-image));
  width               : calc(var(--pic-06-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-06-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-06-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-06-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-07- {
  visibility          : var(--pic-07-featured-in-land);
  background-image    : url(var(--pic-07-image));
  width               : calc(var(--pic-07-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-07-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-07-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-07-position-y-land) * 100vw / var(--cell-density-land));
}




.mosaic-picture.number-08- {
  visibility          : var(--pic-08-featured-in-land);
  background-image    : url(var(--pic-08-image));
  width               : calc(var(--pic-08-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-08-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-08-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-08-position-y-land) * 100vw / var(--cell-density-land));
}



.mosaic-picture.number-09- {
  visibility          : var(--pic-09-featured-in-land);
  background-image    : url(var(--pic-09-image));
  width               : calc(var(--pic-09-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-09-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-09-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-09-position-y-land) * 100vw / var(--cell-density-land));
}




