body {
  background-color      : black;
}


.mosaic-picture {
  position              : absolute;
  background-color      : #aaa;

  border-radius         : 0.3em;
  background-size       : cover;
  background-position   : center;
}

.mosaic-picture p {
  margin-left     : 1em;
  margin-top      : 1em;
  font-size       : 0.5em;
  color           : white;
}


.mosaic-picture.number-00- {
  background-image    : url("img/eclipse.png");
  visibility          : var(--pic-00-featured-in-land);
  width               : calc(var(--pic-00-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-00-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-00-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-00-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-01- {
  background-image    : url("img/squirrel.png");
  visibility          : var(--pic-01-featured-in-land);
  width               : calc(var(--pic-01-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-01-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-01-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-01-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-02- {
  background-image    : url("img/paintinghouses.png");
  visibility          : var(--pic-02-featured-in-land);
  width               : calc(var(--pic-02-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-02-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-02-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-02-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-03- {
  background-image    : url("img/azov.jpg");
  visibility          : var(--pic-03-featured-in-land);
  width               : calc(var(--pic-03-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-03-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-03-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-03-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-04- {
  background-image    : url("img/longcacti.png");
  visibility          : var(--pic-04-featured-in-land);
  width               : calc(var(--pic-04-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-04-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-04-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-04-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-05- {
  background-image    : url("img/fieldpicnic.png");
  visibility          : var(--pic-05-featured-in-land);
  width               : calc(var(--pic-05-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-05-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-05-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-05-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-06- {
  background-image    : url("img/housefront.jpg");
  visibility          : var(--pic-06-featured-in-land);
  width               : calc(var(--pic-06-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-06-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-06-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-06-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-07- {
  background-image    : url("img/zabbalcony.png");
  visibility          : var(--pic-07-featured-in-land);
  width               : calc(var(--pic-07-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-07-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-07-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-07-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-08- {
  background-image    : url("img/caronchair.png");
  visibility          : var(--pic-08-featured-in-land);
  width               : calc(var(--pic-08-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-08-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-08-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-08-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-09- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-09-featured-in-land);
  width               : calc(var(--pic-09-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-09-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-09-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-09-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-10- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-10-featured-in-land);
  width               : calc(var(--pic-10-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-10-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-10-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-10-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-11- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-11-featured-in-land);
  width               : calc(var(--pic-11-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-11-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-11-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-11-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-12- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-12-featured-in-land);
  width               : calc(var(--pic-12-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-12-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-12-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-12-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-13- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-13-featured-in-land);
  width               : calc(var(--pic-13-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-13-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-13-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-13-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-14- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-14-featured-in-land);
  width               : calc(var(--pic-14-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-14-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-14-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-14-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-15- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-15-featured-in-land);
  width               : calc(var(--pic-15-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-15-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-15-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-15-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-16- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-16-featured-in-land);
  width               : calc(var(--pic-16-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-16-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-16-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-16-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-17- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-17-featured-in-land);
  width               : calc(var(--pic-17-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-17-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-17-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-17-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-18- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-18-featured-in-land);
  width               : calc(var(--pic-18-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-18-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-18-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-18-position-y-land) * 100vw / var(--cell-density-land));
}


.mosaic-picture.number-19- {
  background-image    : url("img/koujina.png");
  visibility          : var(--pic-19-featured-in-land);
  width               : calc(var(--pic-19-size-x) * 100vw / var(--cell-density-land));
  height              : calc(var(--pic-19-size-y) * 100vw / var(--cell-density-land));
  margin-left         : calc(var(--pic-19-position-x-land) * 100vw / var(--cell-density-land));
  margin-top          : calc(var(--pic-19-position-y-land) * 100vw / var(--cell-density-land));
}





/* SQUARE LAYOUT  */
@media (max-width : 1024px) {

  body {
    background-color    : #444;
  }

  .mosaic-picture.number-00- {
    visibility          : var(--pic-00-featured-in-rect);
    width               : calc(var(--pic-00-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-00-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-00-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-00-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-01- {
    visibility          : var(--pic-01-featured-in-rect);
    width               : calc(var(--pic-01-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-01-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-01-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-01-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-02- {
    visibility          : var(--pic-02-featured-in-rect);
    width               : calc(var(--pic-02-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-02-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-02-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-02-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-03- {
    visibility          : var(--pic-03-featured-in-rect);
    width               : calc(var(--pic-03-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-03-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-03-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-03-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-04- {
    visibility          : var(--pic-04-featured-in-rect);
    width               : calc(var(--pic-04-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-04-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-04-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-04-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-05- {
    visibility          : var(--pic-05-featured-in-rect);
    width               : calc(var(--pic-05-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-05-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-05-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-05-position-y-rect) * 100vw / var(--cell-density-rect));
  }
 
  .mosaic-picture.number-06- {
    visibility          : var(--pic-06-featured-in-rect);
    width               : calc(var(--pic-06-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-06-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-06-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-06-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-08- {
    visibility          : var(--pic-08-featured-in-rect);
    width               : calc(var(--pic-08-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-08-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-08-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-08-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-09- {
    visibility          : var(--pic-09-featured-in-rect);
    width               : calc(var(--pic-09-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-09-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-09-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-09-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-10- {
    visibility          : var(--pic-10-featured-in-rect);
    width               : calc(var(--pic-10-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-10-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-10-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-10-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-11- {
    visibility          : var(--pic-11-featured-in-rect);
    width               : calc(var(--pic-11-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-11-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-11-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-11-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-12- {
    visibility          : var(--pic-12-featured-in-rect);
    width               : calc(var(--pic-12-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-12-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-12-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-12-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-13- {
    visibility          : var(--pic-13-featured-in-rect);
    width               : calc(var(--pic-13-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-13-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-13-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-13-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-14- {
    visibility          : var(--pic-14-featured-in-rect);
    width               : calc(var(--pic-14-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-14-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-14-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-14-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-15- {
    visibility          : var(--pic-15-featured-in-rect);
    width               : calc(var(--pic-15-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-15-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-15-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-15-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-16- {
    visibility          : var(--pic-16-featured-in-rect);
    width               : calc(var(--pic-16-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-16-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-16-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-16-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-17- {
    visibility          : var(--pic-17-featured-in-rect);
    width               : calc(var(--pic-17-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-17-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-17-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-17-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-18- {
    visibility          : var(--pic-18-featured-in-rect);
    width               : calc(var(--pic-18-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-18-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-18-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-18-position-y-rect) * 100vw / var(--cell-density-rect));
  }

  .mosaic-picture.number-19- {
    visibility          : var(--pic-19-featured-in-rect);
    width               : calc(var(--pic-19-size-x) * 100vw / var(--cell-density-rect));
    height              : calc(var(--pic-19-size-y) * 100vw / var(--cell-density-rect));
    margin-left         : calc(var(--pic-19-position-x-rect) * 100vw / var(--cell-density-rect));
    margin-top          : calc(var(--pic-19-position-y-rect) * 100vw / var(--cell-density-rect));
  }

}

@media (max-width : 680px) {

  body {
    background-color    : #777;
  }


  .mosaic-picture.number-00- {
    visibility          : var(--pic-00-featured-in-port);
    width               : calc(var(--pic-00-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-00-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-00-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-00-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-01- {
    visibility          : var(--pic-01-featured-in-port);
    width               : calc(var(--pic-01-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-01-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-01-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-01-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-02- {
    visibility          : var(--pic-02-featured-in-port);
    width               : calc(var(--pic-02-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-02-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-02-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-02-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-03- {
    visibility          : var(--pic-03-featured-in-port);
    width               : calc(var(--pic-03-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-03-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-03-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-03-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-04- {
    visibility          : var(--pic-04-featured-in-port);
    width               : calc(var(--pic-04-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-04-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-04-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-04-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-05- {
    visibility          : var(--pic-05-featured-in-port);
    width               : calc(var(--pic-05-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-05-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-05-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-05-position-y-port) * 100vw / var(--cell-density-port));
  }
 
  .mosaic-picture.number-06- {
    visibility          : var(--pic-06-featured-in-port);
    width               : calc(var(--pic-06-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-06-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-06-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-06-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-08- {
    visibility          : var(--pic-08-featured-in-port);
    width               : calc(var(--pic-08-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-08-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-08-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-08-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-09- {
    visibility          : var(--pic-09-featured-in-port);
    width               : calc(var(--pic-09-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-09-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-09-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-09-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-10- {
    visibility          : var(--pic-10-featured-in-port);
    width               : calc(var(--pic-10-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-10-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-10-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-10-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-11- {
    visibility          : var(--pic-11-featured-in-port);
    width               : calc(var(--pic-11-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-11-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-11-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-11-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-12- {
    visibility          : var(--pic-12-featured-in-port);
    width               : calc(var(--pic-12-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-12-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-12-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-12-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-13- {
    visibility          : var(--pic-13-featured-in-port);
    width               : calc(var(--pic-13-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-13-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-13-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-13-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-14- {
    visibility          : var(--pic-14-featured-in-port);
    width               : calc(var(--pic-14-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-14-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-14-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-14-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-15- {
    visibility          : var(--pic-15-featured-in-port);
    width               : calc(var(--pic-15-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-15-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-15-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-15-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-16- {
    visibility          : var(--pic-16-featured-in-port);
    width               : calc(var(--pic-16-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-16-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-16-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-16-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-17- {
    visibility          : var(--pic-17-featured-in-port);
    width               : calc(var(--pic-17-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-17-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-17-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-17-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-18- {
    visibility          : var(--pic-18-featured-in-port);
    width               : calc(var(--pic-18-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-18-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-18-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-18-position-y-port) * 100vw / var(--cell-density-port));
  }

  .mosaic-picture.number-19- {
    visibility          : var(--pic-19-featured-in-port);
    width               : calc(var(--pic-19-size-x) * 100vw / var(--cell-density-port));
    height              : calc(var(--pic-19-size-y) * 100vw / var(--cell-density-port));
    margin-left         : calc(var(--pic-19-position-x-port) * 100vw / var(--cell-density-port));
    margin-top          : calc(var(--pic-19-position-y-port) * 100vw / var(--cell-density-port));
  }




}

