:root {

  --cell-density-land         : 72;
  --cell-density-rect         : 40;
  --cell-density-port         : 30;

  --grid-cell-size-x-land     : 2em;
  --grid-cell-size-y-land     : 2em;
  
  --grid-cell-size-x-rect     : 2em;
  --grid-cell-size-y-rect     : 2em;
  
  --grid-cell-size-x-port     : 2em;
  --grid-cell-size-y-port     : 2em;





  /* PICTURE #-00- parameters */
  /* TITLE (for lookup) : eclipse */
  --pic-00-image              : "";
  --pic-00-size-x             : 9;
  --pic-00-size-y             : 5;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-00-featured-in-land   : visible;
  --pic-00-featured-in-rect   : hidden;
  --pic-00-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-00-position-x-land    : 55;
  --pic-00-position-y-land    : 22;
  /* square layout position */
  --pic-00-position-x-rect    : 1;
  --pic-00-position-y-rect    : 1;
  /* portrait layout position */
  --pic-00-position-x-port    : 1;
  --pic-00-position-y-port    : 1;


  /* PICTURE #-01- parameters */
  /* TITLE (for lookup) : squirrel */
  --pic-01-image              : "";
  --pic-01-size-x             : 6;
  --pic-01-size-y             : 4;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-01-featured-in-land   : visible;
  --pic-01-featured-in-rect   : hidden;
  --pic-01-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-01-position-x-land    : 1;
  --pic-01-position-y-land    : 3;
  /* square layout position */
  --pic-01-position-x-rect    : 1;
  --pic-01-position-y-rect    : 1;
  /* portrait layout position */
  --pic-01-position-x-port    : 1;
  --pic-01-position-y-port    : 1;


  /* PICTURE #-02- parameters */
  /* TITLE (for lookup) : painting houses */
  --pic-02-image              : "";
  --pic-02-size-x             : 6;
  --pic-02-size-y             : 6;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-02-featured-in-land   : visible;
  --pic-02-featured-in-rect   : hidden;
  --pic-02-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-02-position-x-land    : 38;
  --pic-02-position-y-land    : 9;
  /* square layout position */
  --pic-02-position-x-rect    : 1;
  --pic-02-position-y-rect    : 1;
  /* portrait layout position */
  --pic-02-position-x-port    : 1;
  --pic-02-position-y-port    : 1;


  /* PICTURE #-03- parameters */
  /* TITLE (for lookup) : azov mariupol */
  --pic-03-image              : "";
  --pic-03-size-x             : 7;
  --pic-03-size-y             : 4;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-03-featured-in-land   : visible;
  --pic-03-featured-in-rect   : hidden;
  --pic-03-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-03-position-x-land    : 10;
  --pic-03-position-y-land    : 20;
  /* square layout position */
  --pic-03-position-x-rect    : 1;
  --pic-03-position-y-rect    : 1;
  /* portrait layout position */
  --pic-03-position-x-port    : 1;
  --pic-03-position-y-port    : 1;


  /* PICTURE #-04- parameters */
  /* TITLE (for lookup) : long cacti */
  --pic-04-image              : "";
  --pic-04-size-x             : 9;
  --pic-04-size-y             : 3;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-04-featured-in-land   : visible;
  --pic-04-featured-in-rect   : hidden;
  --pic-04-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-04-position-x-land    : 45;
  --pic-04-position-y-land    : 4;
  /* square layout position */
  --pic-04-position-x-rect    : 1;
  --pic-04-position-y-rect    : 1;
  /* portrait layout position */
  --pic-04-position-x-port    : 1;
  --pic-04-position-y-port    : 1;



  /* PICTURE #-05- parameters */
  /* TITLE (for lookup) : field picnic */
  --pic-05-image              : "";
  --pic-05-size-x             : 16;
  --pic-05-size-y             : 9;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-05-featured-in-land   : visible;
  --pic-05-featured-in-rect   : hidden;
  --pic-05-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-05-position-x-land    : 5;
  --pic-05-position-y-land    : 10;
  /* square layout position */
  --pic-05-position-x-rect    : 1;
  --pic-05-position-y-rect    : 1;
  /* portrait layout position */
  --pic-05-position-x-port    : 1;
  --pic-05-position-y-port    : 1;



  /* PICTURE #-06- parameters */
  /* TITLE (for lookup) : house */
  --pic-06-image              : "";
  --pic-06-size-x             : 7;
  --pic-06-size-y             : 5;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-06-featured-in-land   : visible;
  --pic-06-featured-in-rect   : hidden;
  --pic-06-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-06-position-x-land    : 45;
  --pic-06-position-y-land    : 12;
  /* square layout position */
  --pic-06-position-x-rect    : 1;
  --pic-06-position-y-rect    : 1;
  /* portrait layout position */
  --pic-06-position-x-port    : 1;
  --pic-06-position-y-port    : 1;



  /* PICTURE #-07- parameters */
  /* TITLE (for lookup) : zab */
  --pic-07-image              : "";
  --pic-07-size-x             : 20;
  --pic-07-size-y             : 7;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-07-featured-in-land   : visible;
  --pic-07-featured-in-rect   : hidden;
  --pic-07-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-07-position-x-land    : 10;
  --pic-07-position-y-land    : 25;
  /* square layout position */
  --pic-07-position-x-rect    : 1;
  --pic-07-position-y-rect    : 1;
  /* portrait layout position */
  --pic-07-position-x-port    : 1;
  --pic-07-position-y-port    : 1;



  /* PICTURE #-08- parameters */
  /* TITLE (for lookup) : caron */
  --pic-08-image              : "";
  --pic-08-size-x             : 16;
  --pic-08-size-y             : 13;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-08-featured-in-land   : visible;
  --pic-08-featured-in-rect   : hidden;
  --pic-08-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-08-position-x-land    : 50;
  --pic-08-position-y-land    : 20;
  /* square layout position */
  --pic-08-position-x-rect    : 1;
  --pic-08-position-y-rect    : 1;
  /* portrait layout position */
  --pic-08-position-x-port    : 1;
  --pic-08-position-y-port    : 1;



  /* PICTURE #-09- parameters */
  /* TITLE (for lookup) : koujina */
  --pic-09-image              : "";
  --pic-09-size-x             : 9;
  --pic-09-size-y             : 14;
  /* set to 'visible' */
  /* for the picture to be visible */
  /* in the respective layout */
  --pic-09-featured-in-land   : visible;
  --pic-09-featured-in-rect   : hidden;
  --pic-09-featured-in-port   : hidden;
  /* landscape layout position */
  --pic-09-position-x-land    : 62;
  --pic-09-position-y-land    : 2;
  /* square layout position */
  --pic-09-position-x-rect    : 1;
  --pic-09-position-y-rect    : 1;
  /* portrait layout position */
  --pic-09-position-x-port    : 1;
  --pic-09-position-y-port    : 1;



}

